body {
    font-family: 'Lato', sans-serif, "Times New Roman", Georgia, Serif;
}
h1, legend {
    color: darkcyan;
}

input[type=submit] {
    height: 40px;
    border-radius: 4px;
    border: 2px solid darkcyan;
    cursor: pointer;
    margin-top: 7px;
    text-align: center;
    background-color: transparent;
    color: darkcyan;
    padding: 0 30px;
}

fieldset {
    padding: 15px 20px 30px 15px;
    border-radius: 4px;
    border: 1px solid darkcyan;
}

.form_container {
    max-width: 70%;
}


.hide {
    display:none;
}

.img_container {
    position: relative;
    margin-top: 10px;
}

.img_container p.quote {
    width: 310px;
    border: 1px solid;
    position: absolute;
    left: 100px;
    top: 50px;
    text-align: center;
}
.img_container p.name {
    width: 210px;
    border: 1px solid;
    position: absolute;
    left: 140px;
    top: 285px;
    text-align: center;
}

.img_container img.original_thinker_img {
    position: absolute;
    top: 310px;
    left: 560px;
    z-index: -1;
}